.grocery-line-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ebeaea;
  border-radius: 10px;
}

.bought {
  text-decoration: line-through;
}
